<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS & Scripts -->
  <link rel="stylesheet" href="{{ url_for('static', filename='main.min.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>

  <!-- Shortcut icon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <!-- Page-specific scripts -->
  {% block pagescripts %}{% endblock %}

  {% if title %}
    <title>{% if page_name %}{{ page_name }} | {% endif %}{{ title }}</title>
  {% else %}
    <title>No Title</title>
  {% endif %}
</head>
<body>
  {% include "headerbar.html" %}
  <div class="container mt-3">
    {% block content %}{% endblock %}
  </div>
</body>
</html>