{% block content %}
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Super Recipes!</a>
      <button class="navbar-toggler ms-auto" data-bs-target="#collapseNavbar" data-bs-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="collapseNavbar">
        <ul class="navbar-nav ms-auto">
          {% include "search_bar.html" %}
          {% if current_user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" type="button" id="create-dropdown-button"
                      data-bs-toggle="dropdown" aria-expanded="false">Create</a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="create-dropdown-button">
                <li><a href="/recipe/create" class="dropdown-item">Recipe</a></li>
                <li><a href="/ingredient/create" class="dropdown-item">Ingredient</a></li>
                <li><a href="/unit/create" class="dropdown-item">Unit</a></li>
              </ul>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% if current_user.is_authenticated %}/logout{% else %}/login{% endif %}">
              {% if current_user.is_authenticated %}
                Log Out
              {% else %}
                Log In
              {% endif %}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}