{% extends "base.html" %}

{% block pagescripts %}
<script>
  function luckyRecipe() {
    $.ajax({
      url: '/api/recipes/random',
      type: 'GET',
      dataType: 'json',
      success: function(recipe) {
        $('.lucky-recipe .card-title').html(recipe.name);
        $('.lucky-recipe .card-text').html(recipe.description);
        $('.lucky-recipe #recipe-link').attr('href', `/recipe/${recipe.id}`);
        $('.lucky-recipe #recipe-image').attr('src', recipe.image);
        $('.lucky-recipe #lucky-recipe-content').css('visibility', 'visible');
      }
    });
  }

  $(document).ready(function () {
    // Random recipe button
    $("#random-recipe").click(luckyRecipe);

    // Run lucky recipe function to start
    luckyRecipe();
  });
</script>
{% endblock %}

{% block content %}
  <h1>Home</h1>
  <p>This is the home page</p>
  <div class="lucky-recipe card">
    <div class="card-header container-fluid">
      <div class="row">
        <div class="col-lg-8"><span class="text-center">I'm feeling lucky!</span></div>
        <div class="col-lg text-end"><button id="random-recipe" class="btn btn-secondary" style="width: 100%;">Click for a random recipe</button></div>
      </div>
    </div>
    <div id="lucky-recipe-content" style="visibility: hidden;">
      {% include "recipe/preview.html" %}
    </div>
  </div>
{% endblock %}