{% block content %}
<script>
  $(document).ready(function() {
    var searchItem = document.createElement("li");
    searchItem.classList.add('list-group-item');
    searchItem.innerHTML = "<a></a>";

    $('#search-bar').keyup(function () {
      $.ajax({
        url: `/api/search/filter?q=${$(this).val()}`,
        dataType: 'json',
        success: function(results) {
          $("#search-items").empty();
          for (result of results) {
            var a = searchItem.querySelector("a");
            a.textContent = result.text;
            a.href = `/${result.type}/${result.id}`;
            $('#search-items').append(searchItem.outerHTML);
          }
        }
      });
    });

    $('#search-bar').blur(function (e) {
      if (e.relatedTarget && e.relatedTarget.tagName.toLowerCase() == 'a') {
        window.location = e.relatedTarget.href;
      }
      $('#search-items').empty();
    })
  });
</script>

<li class="nav-item" id="search-item">
  <input id="search-bar" type="text" class="form-control form-control-dark" placeholder="Search..." autocomplete="on">
  <ul id="search-items" class="list-group position-absolute" style="z-index: 1000;"></ul>
</li>
{% endblock %}