{% extends "base.html" %}
{% block content %}
<div class="card">
  <div class="card-header">{{ page_name }}</div>
  <div class="card-body">
    <form id="{{ form_name }}-form" action="" method="post" name="{{ form_name }}" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      {% block formitems %}{% endblock %}
      <input type="submit" value="Submit" id="submit-button" class="btn btn-secondary"/>
    </form>
  </div>
</div>
{% endblock %}