{% block content%}
  <a id="recipe-link" href="{% if recipe %}/recipe/{{ recipe.id }}{% endif %}" style="text-decoration: none;">
    <div class="row">
      <div class="col-md-4">
          <img id="recipe-image" src="{% if recipe %}{{ recipe.img_url }}{% else %}https://via.placeholder.com/256{% endif %}" alt="" class="img-fluid fill">
      </div>
      <div class="col-md-8 card-body">
        <h6 class="card-title">{% if recipe %}{{ recipe.name }}{% endif %}</h6>
        <p class="card-text">{% if recipe %}{{ recipe.description }}{% endif %}</p>
      </div>
    </div>
  </a>
{% endblock %}