{% extends "base.html" %}
{% block content %}
<div class="card mb-3">
  <div class="card-header">
    <div class="row">
      <div class="col"><h4 class="card-title">{{ recipe.name }}</h4></div>
      <div class="col">
        <a href="/recipe/delete/{{ recipe.id }}"><button class="btn btn-danger bi-trash float-end"></button></a>
        <a href="/recipe/update/{{ recipe.id }}"><button class="btn btn-secondary bi-pencil-square float-end me-1"> Edit</button></a>
      </div>
    </div>
    <div class="row">
      <p class="mb-0">
        Cooking Time: {{ recipe.cooking_time }} minutes, Serves: {{ recipe.serves }}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <img src="{{ recipe.img_url }}" alt="{{ recipe.name }}" class="img-fluid fill">
    </div>
    <div class="card-body col-lg-8">
      <h6>Description</h6>
      <p>{{ recipe.description }}</p>
      <h6>Ingredients</h6>
      <ul>
        {% for ingredient in recipe.recipe_ingredients %}
          <li>{{ ingredient.ingredient_amount }}{{ ingredient.unit.short_name }} <a href="/ingredient/{{ ingredient.ingredient.id }}">{{ ingredient.ingredient.name }}</a></li>
        {% endfor %}
      </ul>
      <h6>Method</h6>
      {{ method_markdown|markdown }}
    </div>
  </div>
</div>
{% endblock %}