// Google fonts import
@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat&display=swap');

// Font
$font-family-sans-serif: 'Montserrat', sans-serif;
$headings-font-family: 'Caladea', serif;
$navbar-brand-font-size: 1.5rem;

// Colors
$white:     #fff;
$gray-100:  #adbac7;
$gray-200:  #adbac7;
$gray-300:  #adbac7;
$gray-400:  #adbac7;
$gray-500:  #adbac7;
$gray-600:  #adbac7;
$gray-700:  #22272e;
$gray-800:  #22272e;
$gray-900:  #22272e;
$black:     #22272e;
$blue:      #539bf5;
$indigo:    #b083f0;
$purple:    #b083f0;
$pink:      #dcbdfb;
$red:       #f47067;
$orange:    #c69026;
$yellow:    #daaa3f;
$green:     #57ab5a;
$teal:      #6bc46d;
$cyan:      #56d4dd;
$primary:   $black;
$secondary: $green;

// Custom styles
h1, h2, h3, h4, h5, h6, .navbar {
    font-family: $headings-font-family;
    font-weight: bold;
}

img.fill {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}

@import '../../../bootstrap/scss/bootstrap.scss';

.form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
}

