{% extends "base.html" %}
{% block content %}
<div class="card">
  <div class="card-header">New Unit</div>
  <div class="card-body">
    <form action="" method="post" name="unit">
      {{ form.hidden_tag() }}
      <div class="input-group mb-3">
        <span class="input-group-text">Name</span>
        {{ form.name(class_="form-control") }}
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Short Name</span>
        {{ form.short_name(class_="form-control") }}
      </div>
      <input type="submit" value="Submit" id="submit-button" class="btn btn-secondary"/>
    </form>
  </div>
</div>
{% endblock %}