{% extends "base.html" %}
{% block content %}
<div class="card">
  <div class="card-header">
    <h4 class="card-title">{{ unit.name }}</h4>
  </div>
  <div class="card-body">
    <p>Short name: {{ unit.short_name }}</p>
  </div>
</div>
{% endblock %}