{% extends "forms/createform.html" %}
{% block formitems %}
<div class="input-group mb-3">
  <span class="input-group-text">Name</span>
  {{ form.name(class_="form-control") }}
</div>
<div class="input-group mb-3">
  <span class="input-group-text">Description</span>
  {{ form.description(class_="form-control") }}
</div>
<div class="input-group mb-3">
  <label for="img_url" class="form-control btn btn-secondary rounded">Choose Image</label>
  {{ form.img_url(style="display: none;", accept="image/*") }}
</div>
{% endblock %}