{% extends "base.html" %}
{% block content %}
<div class="card mb-3">
  <div class="card-header">
    <h4 class="card-title">{{ ingredient.name }}</h4>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img src="{{ ingredient.img_url }}" alt="{{ ingredient.name }}" class="img-fluid fill">
    </div>
    <div class="col-md-8 card-body">
      <h6>Description</h6>
      <p>{{ ingredient.description }}</p>
    </div>
  </div>
</div>
{% if recipes %}
  <h4>Recipes that use {{ ingredient.name }}</h4>
  {% for recipe in recipes %}
    <div class="card mb-3">
      <div class="row">
        {% include "recipe/preview.html" %}
      </div>
    </div>
  {% endfor %}
{% endif %}
{% endblock %}