{% extends "security/base.html" %}
{% block content %}
{% include "security/_messages.html" %}
<div class="card">
  <div class="card-header">{{ _fsdomain('Login') }}</div>
  <div class="card-body">
    <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
      {{ login_user_form.hidden_tag() }}
      <div class="input-group mb-3">
        <span class="input-group-text">Email</span>
        {{ login_user_form.email(class="form-control") }}
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Password</span>
        {{ login_user_form.password(class="form-control") }}
      </div>
      <div class="form-check mb-3">
        {{ login_user_form.remember(class="form-check-input") }}
        <label for="remember" class="form-check-label">Remember Me</label>
      </div>
      {{ login_user_form.csrf_token }}
      <div class="input-group mb-3">
        {{ login_user_form.submit(class="btn btn-secondary") }}
      </div>
    </form>
    {% include "security/_menu.html" %}
  </div>
</div>

{% endblock %}
